body {
    font-family: 'Montserrat', sans-serif;
}
.logo{ 
    justify-content: left;
    max-width: 200px; 
    height: auto;
}

.btn.btn-primary{
    background-color: #6505B5;
    color:white;
    justify-content: right;
}

.btn{
    color:#6505B5;
    justify-content: right;  
}

.btn.btn-secondary[
    background-color: #6505B5;
    color:white;
    justify-content: right;
]
.nav{
    display: flex;
    background-color: #6505B5;
    justify-content: center;
}

.nav-link{
    color:white;
    background-color: #6505B5;
}

.navcenter{
background-color:red;
justify-content: center;
}

.container.hero{
  background-image: ;
  height: 500px;
}
